<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="32d4ad2d-ff74-45c5-b7f7-475f0dd88a31" Name="Sparkplug B Driver" Language="1033" Version="1.0.0.0" 
            Manufacturer="Schneider Electric" UpgradeCode="75ddcd57-1f62-ff15-9c92-ec69ae80ab5a">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer or same version of Sparkplug B Driver is already installed." />
    <Media Id='1' Cabinet='RWS.cab' EmbedCab='yes' />
    <Feature Id='Complete' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <ComponentRef Id="DRIVERPROCESS" />
      <ComponentRef Id="DRIVERDLLS" />
    </Feature>

    <UI>
    </UI>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="SchneiderElectricFolder" Name="Schneider Electric">
          <Directory Id="INSTALLDIR" Name="ClearSCADA">
            <Component Id="DRIVERDLLS" Guid="948AEE65-FF95-4F43-B758-A9B27D29FA23" Win64="yes">
              <File Id="SparkplugB.dll" Name="SparkplugB.dll" Source="..\DriverSparkplugB\bin\x64\Debug\SparkplugB.dll" />
              <File Id="M2Mqtt.Net.dll" Name="M2Mqtt.Net.dll" Source="..\DriverSparkplugB\bin\x64\Debug\M2Mqtt.Net.dll" />
              <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="..\DriverSparkplugB\bin\x64\Debug\Google.Protobuf.dll" />
              <RegistryKey Root="HKLM" Key="SOFTWARE\Schneider Electric\ClearSCADA\DriverSparkplugB">
                <RegistryValue Type="string" Value="SparkplugB"/>
                <RegistryValue Type="string" Name="AssemblyName" Value="C:\Program Files\Schneider Electric\ClearSCADA\SparkplugB.dll" KeyPath="yes"/>
                <RegistryValue Type="string" Name="TaskName" Value="DriverSparkplugB.exe"/>
              </RegistryKey>              
            </Component>
            <Component Id="DRIVERPROCESS" Guid="644D59D3-FF9F-458E-BBC5-8DF32FEE5232" Win64="yes">
              <File Id="DriverSparkplugB.exe" Name="DriverSparkplugB.exe" Source="..\DriverSparkplugB\bin\x64\Debug\DriverSparkplugB.exe" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Product>
</Wix>